/* en vrac :
100% 100% 100% 0 auto border-box box-sizing 
display height flex flex none margin 
max-width width width
*/
*{
    box-sizing:border-box;
}
.titre {
  color: #31968e;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 20%;
  padding: 10px;
}

.carrousel {
  position: relative;
  width: none;
}

.carrousel_btn {
  position: absolute;
  top: calc(100vw / 16 * 9 / 2 + 1rem); /* centre verticalement ~50% vertical */
  transform: translateY(-50%); /* methode du point mort */
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.carrousel_btn-avant {
  left: 0;
}
.carrousel_btn-apres {
  right: 0;
}

.img {
  max-width: 100%;
  height: auto;
  margin:30x;
  /* image responsive, largeur maxi */
  /* hauteur "auto" */
}
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* aligne horizontalement les enfants */
  /* largeur du parent */
}
.carrousel_ecran {
  min-width: 100%;
  transition: transform 0.5s ease;
  /* largeur du parent pour chaque enfant */
  /* permet de garder toute la largeur du parent */
}
.carrousel_ecran figure {
   margin: 0;
  /* enlève les marges par défaut */
}

.carrousel-flex {
}

.caroussel_liste-liens {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: center;
  gap: 1rem;
}
