@import "vendors/normalize.css";
@import "utils/variables.css";
@import "base/main.css";
@import "base/media.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "components/menu.css";
@import "components/intro.css";
@import "components/btn.css";
@import "components/stats.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@700&display=swap");
*{
    box-sizing:border-box;
    background: #e7e7e7;
}
.titre {
  color: #31968e;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  margin: auto;
  width: 20%;
  padding: 10px;
}

.carrousel {
  position: relative;
  width: none;
}

.carrousel_btn {
  position: absolute;
  top: calc(100vw / 16 * 9 / 2 + 1rem); /* centre verticalement ~50% vertical */
  transform: translateY(-50%); /* methode du point mort */
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.carrousel_btn-avant {
  left: 0;
}
.carrousel_btn-apres {
  right: 0;
}

.img {
  max-width: 100%;
  height: auto;
  margin:30x;
  
  /* image responsive, largeur maxi */
  /* hauteur "auto" */
}
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* aligne horizontalement les enfants */
  /* largeur du parent */
}
.carrousel_ecran {
  min-width: 100%;
  transition: transform 0.5s ease;
 

  /* largeur du parent pour chaque enfant */
  /* permet de garder toute la largeur du parent */
}
.carrousel_ecran figure {
   margin: 0;

  /* enlève les marges par défaut */
}

.carrousel-flex {
}

.caroussel_liste-liens {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
  justify-content: center;
  gap: 1rem;
  
}

.caroussel_lien {
  background-color: #555555; color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 12px;
  
  
}
